<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Aplikacja Taco Cloud</title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body>
    <div class="page-wrapper">

        <div class="horizontal header">
            <div>
                <a th:href="@{/}">
                    <img th:src="@{/images/TacoCloudLogo.png}" class="logo"/>
                </a>
            </div>
            <div class="flex-1">
                <h1>Design your taco!</h1>
            </div>
            <div class="align-right">
                <form method="POST" th:action="@{/logout}" id="logoutForm">
                    <input type="submit" value="Logout" class="btn-logout">
                </form>
            </div>
        </div>

        <div class="line"></div>

        <form method="POST" th:object="${taco}" th:action="@{/design}" id="tacoForm">
            <div class="grid">

                <span class="validationError"
                      th:if="${#fields.hasErrors('ingredients')}"
                      th:errors="*{ingredients}">Błąd danych składników.</span>

                <div class="ingredients-group" id="wraps">
                    <h3>Wybierz rodzaj mąki:</h3>
                    <div th:each="ingredient : ${wrap}">
                        <input name="ingredients" type="checkbox" th:field="*{ingredients}" th:value="${ingredient.id}" />
                        <span th:text="${ingredient.name}">SKŁADNIK</span>
                        <br/>
                    </div>
                </div>

                <div class="ingredients-group" id="proteins">
                    <h3>Wybierz mięso:</h3>
                    <div th:each="ingredient : ${protein}">
                        <input name="ingredients" type="checkbox" th:field="*{ingredients}" th:value="${ingredient.id}" />
                        <span th:text="${ingredient.name}">SKŁADNIK</span>
                        <br/>
                    </div>
                </div>

                <div class="ingredients-group" id="cheeses">
                    <h3>Wybierz sery:</h3>
                    <div th:each="ingredient : ${cheese}">
                        <input name="ingredients" type="checkbox" th:field="*{ingredients}" th:value="${ingredient.id}" />
                        <span th:text="${ingredient.name}">SKŁADNIK</span>
                        <br/>
                    </div>
                </div>

                <div class="ingredients-group" id="veggies">
                    <h3>Wybierz warzywa:</h3>
                    <div th:each="ingredient : ${veggies}">
                        <input name="ingredients" type="checkbox" th:field="*{ingredients}" th:value="${ingredient.id}" />
                        <span th:text="${ingredient.name}">SKŁADNIK</span>
                        <br/>
                    </div>
                </div>

                <div class="ingredients-group" id="souces">
                    <h3>Wybierz sosy:</h3>
                    <div th:each="ingredient : ${sauce}">
                        <input name="ingredients" type="checkbox" th:field="*{ingredients}" th:value="${ingredient.id}" />
                        <span th:text="${ingredient.name}">SKŁADNIK</span>
                        <br/>
                    </div>
                </div>
            </div>

            <div>
                <h3>Nadaj nazwę przygotowanemu taco:</h3>
                <div>
                    <span>Nazwa taco: </span>
                    <input type="text" th:field="*{name}"/>
                    <span class="validationError"
                          th:if="${#fields.hasErrors('name')}"
                          th:errors="*{name}">Błąd danych nazwy taco.</span>
                </div>
            </div>

            <div>
                <button>Wyślij swoje zamówienie</button>
            </div>
        </form>
    </div>
</body>
</html>