<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Aplikacja Taco Cloud</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>

<body>
    <div class="page-wrapper">
        <div class="horizontal header">
            <img th:src="@{/images/TacoCloudLogo.png}" class="logo"/>
            <h1>Witaj w Taco Cloud!</h1>
        </div>

        <div class="line"></div>

        <div class="center">
            <a th:href="@{/design}"><button class="font-bg">Zaprojektuj swoje taco!</button></a>
        </div>
    </div>
</body>
</html>